.container {
    max-width: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    padding-top: 50px;

    text-align: left;
}

.container h1 {
    align-self: left;
    margin-left: 0;
}

.innerContainer{
    width: 100%;
}

.row {
    min-width: 50%;

    padding: 17px;

    /* float: left; */
    justify-content: center;
    align-items: center;
}

