.container {
    max-width: 85%;

    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    margin: auto;

    text-align: left;
    padding: 17px;

    
}

.container h1 {
    
    margin-left: 0;
}

.innerContainer{
    width: 100%;
}

.row {
    min-width: 50%;
    text-align: left;
    /* float: left; */
    justify-content: center;
    align-items: center;
}

.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 500px;
}

