.container{
    width: 500px;
    height: 45px;
    position: fixed;
    /* background-color: #1F2833; */
    top: 0;
    right: 0;
}

.innerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 100%;

    margin-left: 10%;
    margin-right: 10%;
}

.innerContainer p {
    font-size: 20px;
    color: #0B0C10;
}

.circle {
    background-color: #C5C6C7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    opacity: 0.8;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 0;
}
