.buttonContainer {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font: inherit;
    padding: 0;
    margin: 0;
    color: #467ABD;
}

.container:hover {
    text-decoration: underline;
}

.buttonContainer {
    display: inline;
}