.menuDropDown {
    height: auto;
    width: 200px;

    position: absolute;
    top: 40px;
    right: -20px;
    display: flex;
    flex-direction: column;

    background-color: #000000;
    border-radius: 7px;
    border:2px solid #0B0C10;

    padding: 10px;

    text-align: right;
}


.horizontalLine{
    margin-top: 7px;
    margin-bottom: 7px;
    color: azure;
}